In [1]:
import pandas as pd
import glob
import os

In [2]:
# Path to your folder containing CSV files
folder_path = 'data_10/'

In [4]:
# Get all CSV file paths in the folder
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))
print(f"Found {len(csv_files)} CSV files.")

Found 10 CSV files.

In [5]:
# Read all CSVs and combine them into one big DataFrame
df_list = [pd.read_csv(file) for file in csv_files]
merged_df = pd.concat(df_list, ignore_index=True)

In [6]:
merged_df.shape

(9482, 17)

In [7]:
mixed_df = merged_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [8]:
mixed_df.shape

(9482, 17)

In [11]:
mixed_df.drop_duplicates(inplace=True)
mixed_df.dropna(inplace=True)

In [12]:
mixed_df.shape

(9482, 17)

In [13]:
mixed_df.head()

,open,high,low,close,volume,RSI,EMA12,EMA26,MACD,Signal,Histogram,DEMA9,SMA,TSI,%K,%D,Label
0,1308.65000,1310.00000,1301.79000,1306.20000,8880.528,58.839454,1297.318130,1295.156106,2.162024,-1.415515,3.577539,1306.420748,1306.633333,5.294317,90.447704,91.599217,1
1,3.41100,3.45100,3.40900,3.44100,35191.130,75.828832,3.354121,3.309324,0.044798,0.028362,0.016436,3.424077,3.426667,37.313034,92.230018,91.666630,1
2,0.26818,0.26904,0.26818,0.26888,7817620.000,58.138184,0.268371,0.267444,0.000927,0.001114,-0.000187,0.268771,0.268807,17.920328,77.311577,75.365622,1
3,3.31600,3.35400,3.30700,3.30800,78394.510,72.041920,3.273197,3.227271,0.045926,0.039374,0.006551,3.320643,3.310000,44.802192,85.682540,88.046902,1
4,4.12500,4.12500,4.11800,4.12300,9746.110,51.888307,4.116473,4.119501,-0.003028,-0.006647,0.003619,4.121196,4.122667,-6.762352,81.980676,78.615597,1

In [14]:
mixed_df.to_csv('merged_shuffled_data_10.csv', index=False)